<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Digital Dive</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/main.css">
        <script src="https://kit.fontawesome.com/dae996b2f2.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="content">
        <header>
            <nav class="header-nav">
              <a href="/">Home</a>
              <a href="/about">About</a>
              <a href="/contact">Contact</a>
              <a href="/categories">Categories</a>
            </nav>
            <div class="header-title">
              <h1 id="header"><i class="fa-solid fa-user-astronaut"></i><a href="/">Digital Dive</a></h1>
          </div>
            <form action="/search" method="get">
              <input type="text" name="q" placeholder="Search...">
              <button type="submit">Search</button>
            </form>
        </header>

        <button id="menu-btn" class="menu-btn">Menu</button>

        <div id="sidebar" class="sidebar">
                <button class="back-btn">
                    <i class="fa-solid fa-angle-left"></i>
                </button>
            <ul class="main-menu-list">
                <div class="nav-btns">
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </div> 
                <button class="categories-btn">Categories
                    <span class="caret">&#9660;</span>
                </button>
                <ul class="category-list">
                    <li><a href="/category/programming">Programming</a></li>
                    <li><a href="/category/technology">Technology</a></li>
                    <li><a href="/category/tutorials">Tutorials</a></li>
                    <li><a href="/category/reviews">Reviews</a></li>
                </ul>
            </ul>
        </div>
    </div>   

          <script>


            document.getElementById('menu-btn').addEventListener('click', function() {
              document.getElementById('sidebar').classList.toggle('active');
              document.querySelector('.content').classList.toggle('squeezed');
            });
      
            const backButton = document.querySelector('.back-btn');
            backButton.addEventListener('click', function() {
              document.getElementById('sidebar').classList.remove('active');
              document.querySelector('.content').classList.remove('squeezed');
            });
      
            const dropdowns = document.querySelectorAll('.categories-btn');
            dropdowns.forEach(dropdown => {
              dropdown.addEventListener('click', function() {
                this.classList.toggle('active');
                const dropdownContent = this.nextElementSibling;
                dropdownContent.style.display = dropdownContent.style.display === 'block' ? 'none' : 'block';
              });
            });
      
            // document.addEventListener('click', function(event) {
            //   const sidebar = document.getElementById('sidebar');
            //   if (!sidebar.contains(event.target) && !event.target.matches('.categories-btn')) {
            //     console.log("YES", event.target)
            //     sidebar.classList.remove('active');
            //     document.querySelectorAll('.category-list').forEach(dropdown => {
            //       dropdown.style.display = 'none';
            //     });
            //   }
            // });
          </script>
          
    </body>
    <script src="/reload/reload.js"></script>
</html>