<%- include("partials/header.ejs") %>

<section class="about">
    <h2>About Us</h2>
    <p>At Digital Dive, we’re dedicated to exploring the forefront of technology and programming, and we believe in the power of community-driven innovation. Our mission is to create a dynamic platform where tech enthusiasts, developers, and programmers can share their insights, learn from one another, and advance their skills together.</p>
    
    <h2>Our Purpose</h2>
    <p>Founded in 2024, Digital Dive aims to bridge the gap between industry experts and budding technologists. We provide in-depth articles, tutorials, and discussions on the latest trends in programming, software development, and emerging technologies. But we don’t stop there — we invite our readers to become contributors to the tech dialogue by sharing their own experiences, knowledge, and projects.</p>

    <h2>Contribute and Share</h2>
    <p>We believe that great ideas and valuable knowledge come from diverse perspectives. That’s why we encourage you to share your expertise with our community. Whether you’re an experienced developer with tips to share, a hobbyist with a cool project, or someone with a unique perspective on technology, we welcome your contributions. Our user-friendly submission system allows you to publish posts directly on our site, where they can inspire and inform others.</p>

    <h3>Meet the Team</h3>
    <div class="team">
        <p>Our team of passionate tech writers and developers is committed to delivering high-quality content and fostering an engaging community. We’re here to guide you through the latest tech trends, provide hands-on tutorials, and support you as you explore new programming languages and tools.</p>
      <div class="team-member">
        <i class="fa-solid fa-person-dress"></i>
        <h4>Tiffany Nels</h4>
        <p>Tiffany is a Full Stack Developer. With a passion for programming, she brings coding knowledge and technical literacy to the blog.</p>
      </div>
      <div class="team-member">
        <i class="fa-solid fa-cat"></i>
        <h4>Yuki Kitty</h4>
        <p>Yuki is a Software Engineer. He specializes in operating systems and enjoys sharing basics in data structures and algorithms with our readers.</p>
      </div>
    </div>

    <h3>Get In Touch</h3>
    <p>Have questions or feedback? Feel free to reach out to us through our <a href="/contact">contact page</a>. We’re always excited to hear from fellow tech enthusiasts and to help you get the most out of Digital Dive.</p>
  </section>

<%- include("partials/footer.ejs") %>